@import "tailwindcss";
@plugin "daisyui";
/* @import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation'; */
/* Global Theme Variables */
:root {
  --primary: #2952E3;
  --primary-light: #5EA8F5;

  --accent: #040d42;

  --success: #4CAF50;
  --warning: #FFC107;

  --offer-red: #E63946;
  --tag-purple: #6C63FF;

  --text-primary: #1B1F3B;
  --text-secondary: #4A4E69;
  --text-muted: #9CA3AF;

  --bg-card: #FFFFFF;
  --bg-section: #F7F9FC;
}
.service-card {
  background: var(--bg-card);
}


.book-btn {
  background: var(--accent);
  color: white;
}






.mySwiper {
  width: 100%;
  padding: 20px 0;
}

.slide-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* ---- Pagination Dot Styling ---- */


.swiper-pagination-bullet {
  background-color: #ccc;
  opacity: 1;
  width: 12px;
  height: 12px;
}



