@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";
/* @import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation'; */
/* Global Theme Variables */

body {
  background: #0A1A2F !important;
  color: #E6EEF8 !important;
  font-family: 'Inter', sans-serif;
}


:root {
  --bg-main: #0A1A2F;
  --bg-section: #112240;
  --bg-card: #1B2B44;

  --accent: #00A8E8;
  --accent-soft: #4DC3F7;

  --text-primary: #E6EEF8;
  --text-secondary: #A8B3C7;

  --btn-primary: #0077B6;
  --btn-primary-hover: #0096C7;

  --border-light: rgba(255,255,255,0.15);



}

/* Marquee Animation */
@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40%);
  }
}

/* Auto sliding */
.marquee {
  display: flex;
  width: max-content;
  animation: marquee-scroll 40s linear infinite;
}

/* Hover to pause */
.marquee:hover {
  animation-play-state: paused;
}




.service-card {
  background: var(--bg-card);
}


.book-btn {
  background: var(--accent);
  color: white;
}








.mySwiper {
  width: 100%;
  padding: 20px 0;
}

.slide-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* ---- Pagination Dot Styling ---- */


.swiper-pagination-bullet {
  background-color: #ffffff;
  opacity: 1;
  width: 12px;
  height: 12px;
}



